
<form action="/results" method="post">
  <header><strong>This form posts to "/results"</strong></header>
  <label>Input</label>
  <input type="text" name="user[name]"/>
  <input type="text" name="user[age]"/>
  <input type="submit" />
</form>

<!-- <form action="/results/awesome_variable?fantastic_key=splendiferous_value">
  <header><strong>This form posts to "/results/awesome_variable?fantastic_key=splendiferous_value"</strong></header>
  <label>My Unnecessarily Complicated Input Field</label>
  <input type="text" name="awesome_input"/>
  <input type="submit" />
</form> -->
