<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Params Hash Magic!</title>
</head>
<body>
  <div class="page-flexbox-wrapper">
    <header>
      <a href="/">
        <h1 style='text-align: center'>Params Hash Magic</h1>
      </a>
    </header>
    <main>
      <img src="/params_routes.png" alt="app routes" style="max-height: 250px;">
      <%= yield %>
    </main>
    <footer>
      <a href="/results/sidney">/results/sidney</a>
      <a href="/results/sidney/one_fish/two_fish/red_fish/batman">/results/sidney/one_fish/two_fish/red_fish/batman</a>
      <a href="/results?hobby=basket_weaving">/results?hobby=basket_weaving</a>
      <a href="/results/sidney?hobby=basket_weaving">/results/sidney?hobby=basket_weaving</a>
    </footer>
  </div>
</body>
</html>
